.skillsBlock{
    min-height: 80vh;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1160px;
}
@media screen and (min-width: 1160px) {
    .skillsContainer {
        width: 1160px;
    }
}
@media screen and (max-width: 1160px) {
    .skillsContainer {
        width: 100%;
    }
}

.title {
    display: block;
    text-align: center;
    width: 100%;
    color: #292929;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
}

.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 710px) {
    .skills {
        flex-direction: column;
        align-items: center;
    }
}
