.freestyleBlock {
  height: 40vh;
  background-image: url("../../img/14977815808436_1920x1200.jpg");
  background-attachment: fixed;
}

.field {
  height: 70%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.field h2 {
  text-align: center;
  font-size: 50px;
  line-height: 50px;
}

.field {
   a{
     cursor: pointer;
    //color: #e74c3c;
    font-size: 35px;
    line-height: 40px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
  }
  a:hover{
    color: #222;
  }

  a:before, a:after{
    content: '';
    background: #e74c3c;
    position: absolute;
    width: 0;
    height: 2px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
  }

  a:before{
    top: 0;
    left: 0;
  }

  a:after{
    top: 100%;
    right: 0;
  }

  a:hover:before, a:hover:after{
    width: 100%;
  }

}