.freestyleBlock{
    height: 40vh;
    background-color: #77a262;
}

.field {
    height: 70%;
    width: 100%;
    background-color: #eeebc2;
    position: relative;
}

.field h2{
    text-align: center;
}

.field button{
    position: absolute;
    height: 50px;
    width: 150px;
    bottom: 0;
    left:50%;
    margin-left: -75px;
    font-size: 20px;
}