.skillsBlock{
    min-height: 100vh;
    background-color: #aebfaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #8da0ea;
}

.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 710px) {
    .skills {
        flex-direction: column;
        align-items: center;
    }
}